{extend name="Public/main" /}

<!--内容-->
{block name="main"}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a>
            <cite>导航元素</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i
                                    class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加答题库','{:url('/index/Question/add')}',600,600)"><i
                            class="layui-icon"></i>添加</button>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>

                            <tr>

                                <th style="width: 50px">序号</th>
                                <th>名称</th>


                                <th style="width:200px">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="data_list " id="vo " key="key "}
                            <tr>

                                <td>{$key}</td>
                                <td>{$vo.title}</td>


                                <td class="td-manage">

                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">
                                        <i class="layui-icon">&#xe642;</i>
                                    </button>


                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="question_del(this,'{$vo.id}')">
                                        <i class="layui-icon">&#xe640;</i>
                                    </button>


                                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" onclick="xadmin.open('查看答案','{:url('/index/Answers/detail',['question_id'=>$vo.id])}',900,300)">
                                        答案明细
                                      </button>

                                </td>
                            </tr>
                            {/volist}


                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">

                    {$page}

                </div>
            </div>
        </div>
    </div>
</div>
<!--内容结束-->
{/block}

<!---->
{block name="script"}
<script type="text/javascript">
    layui.use(['laydate', 'form'], function() {
        var laydate = layui.laydate;
        var form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function(data) {

            if (data.elem.checked) {
                $('tbody input').prop('checked', true);
            } else {
                $('tbody input').prop('checked', false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    /*用户-停用*/
    function stop(id, status) {
        var url = "{:url('/index/Questionblank/stop')}";
        var title_msg = "确认要禁用吗？";
        if (status == 0) {
            title_msg = "确认要启用吗？";
        }
        layer.confirm(title_msg, function(index) {

            $.post(url, "id=" + id + "&status=" + status, function(result) {

                if (result.status == 200) {
                    //发异步，把数据提交给php
                    layer.alert("操作成功", {
                            icon: 6
                        },
                        function() {
                            //关闭当前frame
                            xadmin.close();

                            // 可以对父窗口进行刷新 
                            window.location.reload();
                        });

                } else {
                    layer.msg('操作失败!', {
                        icon: 2,
                        time: 1000
                    });
                }
            }, "json");


        });
    }

    /*用户-删除*/
    function question_del(obj, id) {

        layer.confirm('确认要删除吗？', function(index) {
            var url = "{:url('/index/Question/delete')}";
            $.post(url, "id=" + id, function(result) {
                if (result.status == 200) {
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {
                        icon: 1,
                        time: 1000
                    });
                } else {
                    layer.msg('删除失败!', {
                        icon: 2,
                        time: 1000
                    });
                }
            }, "json");
            //发异步删除数据

        });
    }



    function delAll(argument) {
        var ids = [];

        // 获取选中的id 
        $('tbody input').each(function(index, el) {
            if ($(this).prop('checked')) {
                ids.push($(this).val())
            }
        });

        layer.confirm('确认要删除吗？' + ids.toString(), function(index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {
                icon: 1
            });
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>
{/block}
<!---->