<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">

            <li>
                <a onclick="xadmin.add_tab('首页banner','{:url('/index/Index/banner')}')">
                    <i class="iconfont">&#xe6a7;</i>
                    <cite>用户管理</cite></a>
            </li>
            <li>
                <a onclick="xadmin.add_tab('题库管理','{:url('/index/Questionblank/index')}')">
                    <i class="iconfont">&#xe6a7;</i>
                    <cite>题库管理</cite></a>
            </li>

            <li>
                <a onclick="xadmin.add_tab('题库管理','{:url('/index/Question/index')}')">
                    <i class="iconfont">&#xe6a7;</i>
                    <cite>问题管理</cite></a>
            </li>

            <li>
                <a onclick="xadmin.add_tab('菜单管理','{:url('/index/Menu/index')}')">
                    <i class="iconfont">&#xe6a7;</i>
                    <cite>答题记录</cite></a>
            </li>


            <li>
                <a onclick="xadmin.add_tab('安全管理','{:url('/index/Index/userinfo')}')">
                    <i class="iconfont">&#xe6a7;</i>
                    <cite>安全管理</cite></a>
            </li>

        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->