<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <!--css文件-->
    {include file="Public/css" /}

</head>

<body>
    {block name="main"} {/block}

    <!--脚本-->
    {include file="Public/javascript" /}
</body>
{block name="script"} {/block}

</html>