{extend name="Public/main" /}
<!--主题内容-->
{block name="main"}
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">
                    <span class="x-red">*</span>题库名称
                </label>
                <div class="layui-input-block">
                    <input type="text" id="L_title" name="title" lay-verify="required" autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">
                    描述</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" name="remarks" rows=""> </textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
        </form>
    </div>
</div>

<!--内容结束-->
{/block}
<!--111-->
{block name="script"}
<script>
    layui.use(['form', 'layer', 'jquery'],
        function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            var url = "{:url('/index/Questionblank/add')}";
            //监听提交
            form.on('submit(add)',
                function(data) {
                    //  console.log($(form).serialize());
                    $.post(url, $(data.form).serialize(), function(result) {
                        console.log(result);
                    }, "json");

                    //发异步，把数据提交给php
                    layer.alert("增加成功", {
                            icon: 6
                        },
                        function() {
                            //关闭当前frame
                            xadmin.close();

                            // 可以对父窗口进行刷新 
                            window.location.reload();
                        });
                    return false;
                });

        });
</script>
{/block}